{
   "openapi": "3.0.0",
   "info": {
      "title": "Unified.to  API",
      "version": "1.0",
      "description": "One API to Rule Them All",
      "contact": {
         "email": "hello@unified.to",
         "url": "https://unified.to/contact"
      },
      "termsOfService": "https://unified.to/tos"
   },
   "externalDocs": {
      "description": "API Documentation",
      "url": "https://docs.unified.to"
   },
   "tags": [
      {
         "name": "unifiedapi",
         "description": "Unified.to API"
      },
      {
         "name": "unified"
      },
      {
         "name": "connection"
      },
      {
         "name": "issue"
      },
      {
         "name": "integration"
      },
      {
         "name": "webhook"
      },
      {
         "name": "apicall"
      },
      {
         "name": "environment"
      },
      {
         "name": "auth"
      },
      {
         "name": "login"
      },
      {
         "name": "assessment"
      },
      {
         "name": "package"
      },
      {
         "name": "order"
      },
      {
         "name": "messaging"
      },
      {
         "name": "channel"
      },
      {
         "name": "message"
      },
      {
         "name": "event"
      },
      {
         "name": "crm"
      },
      {
         "name": "deal"
      },
      {
         "name": "contact"
      },
      {
         "name": "company"
      },
      {
         "name": "lead"
      },
      {
         "name": "pipeline"
      },
      {
         "name": "martech"
      },
      {
         "name": "list"
      },
      {
         "name": "member"
      },
      {
         "name": "campaign"
      },
      {
         "name": "report"
      },
      {
         "name": "ticketing"
      },
      {
         "name": "ticket"
      },
      {
         "name": "customer"
      },
      {
         "name": "note"
      },
      {
         "name": "category"
      },
      {
         "name": "enrich"
      },
      {
         "name": "person"
      },
      {
         "name": "uc"
      },
      {
         "name": "call"
      },
      {
         "name": "comment"
      },
      {
         "name": "recording"
      },
      {
         "name": "ats"
      },
      {
         "name": "activity"
      },
      {
         "name": "candidate"
      },
      {
         "name": "job"
      },
      {
         "name": "interview"
      },
      {
         "name": "document"
      },
      {
         "name": "applicationstatus"
      },
      {
         "name": "application"
      },
      {
         "name": "scorecard"
      },
      {
         "name": "hris"
      },
      {
         "name": "employee"
      },
      {
         "name": "location"
      },
      {
         "name": "group"
      },
      {
         "name": "timeoff"
      },
      {
         "name": "payslip"
      },
      {
         "name": "device"
      },
      {
         "name": "timeshift"
      },
      {
         "name": "benefit"
      },
      {
         "name": "deduction"
      },
      {
         "name": "bankaccount"
      },
      {
         "name": "verification"
      },
      {
         "name": "request"
      },
      {
         "name": "passthrough"
      },
      {
         "name": "accounting"
      },
      {
         "name": "account"
      },
      {
         "name": "journal"
      },
      {
         "name": "transaction"
      },
      {
         "name": "invoice"
      },
      {
         "name": "bill"
      },
      {
         "name": "creditmemo"
      },
      {
         "name": "taxrate"
      },
      {
         "name": "organization"
      },
      {
         "name": "purchaseorder"
      },
      {
         "name": "salesorder"
      },
      {
         "name": "balancesheet"
      },
      {
         "name": "trialbalance"
      },
      {
         "name": "profitloss"
      },
      {
         "name": "cashflow"
      },
      {
         "name": "expense"
      },
      {
         "name": "storage"
      },
      {
         "name": "file"
      },
      {
         "name": "commerce"
      },
      {
         "name": "item"
      },
      {
         "name": "collection"
      },
      {
         "name": "inventory"
      },
      {
         "name": "review"
      },
      {
         "name": "reservation"
      },
      {
         "name": "availability"
      },
      {
         "name": "saleschannel"
      },
      {
         "name": "itemvariant"
      },
      {
         "name": "payment"
      },
      {
         "name": "link"
      },
      {
         "name": "refund"
      },
      {
         "name": "payout"
      },
      {
         "name": "subscription"
      },
      {
         "name": "genai"
      },
      {
         "name": "model"
      },
      {
         "name": "prompt"
      },
      {
         "name": "embedding"
      },
      {
         "name": "kms"
      },
      {
         "name": "space"
      },
      {
         "name": "page"
      },
      {
         "name": "task"
      },
      {
         "name": "project"
      },
      {
         "name": "change"
      },
      {
         "name": "calendar"
      },
      {
         "name": "busy"
      },
      {
         "name": "webinar"
      },
      {
         "name": "ads"
      },
      {
         "name": "creative"
      },
      {
         "name": "insertionorder"
      },
      {
         "name": "ad"
      },
      {
         "name": "target"
      },
      {
         "name": "promoted"
      },
      {
         "name": "lms"
      },
      {
         "name": "course"
      },
      {
         "name": "class"
      },
      {
         "name": "student"
      },
      {
         "name": "instructor"
      },
      {
         "name": "content"
      },
      {
         "name": "repo"
      },
      {
         "name": "repository"
      },
      {
         "name": "branch"
      },
      {
         "name": "commit"
      },
      {
         "name": "pullrequest"
      },
      {
         "name": "metadata"
      },
      {
         "name": "forms"
      },
      {
         "name": "form"
      },
      {
         "name": "submission"
      },
      {
         "name": "datastore"
      },
      {
         "name": "database"
      },
      {
         "name": "table"
      },
      {
         "name": "record"
      },
      {
         "name": "query"
      },
      {
         "name": "shipping"
      },
      {
         "name": "shipment"
      },
      {
         "name": "label"
      },
      {
         "name": "tracking"
      },
      {
         "name": "rate"
      },
      {
         "name": "carrier"
      },
      {
         "name": "signing"
      },
      {
         "name": "signatory"
      },
      {
         "name": "template"
      },
      {
         "name": "clubs"
      },
      {
         "name": "scim"
      },
      {
         "name": "user"
      }
   ],
   "security": [
      {
         "jwt": []
      }
   ],
   "servers": [
      {
         "url": "https://api.unified.to",
         "description": "North American data region"
      },
      {
         "url": "https://api-eu.unified.to",
         "description": "European data region"
      },
      {
         "url": "https://api-au.unified.to",
         "description": "Australian data region"
      }
   ],
   "components": {
      "securitySchemes": {
         "jwt": {
            "type": "apiKey",
            "name": "authorization",
            "in": "header"
         }
      },
      "requestBodies": {
         "Connection": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/Connection"
                  }
               }
            }
         },
         "Webhook": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/Webhook"
                  }
               }
            }
         },
         "Environments": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/Environments"
                  }
               }
            }
         },
         "AssessmentPackage": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AssessmentPackage"
                  }
               }
            }
         },
         "AssessmentOrder": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AssessmentOrder"
                  }
               }
            }
         },
         "MessagingMessage": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/MessagingMessage"
                  }
               }
            }
         },
         "MessagingEvent": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/MessagingEvent"
                  }
               }
            }
         },
         "CrmDeal": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CrmDeal"
                  }
               }
            }
         },
         "CrmContact": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CrmContact"
                  }
               }
            }
         },
         "CrmCompany": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CrmCompany"
                  }
               }
            }
         },
         "CrmEvent": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CrmEvent"
                  }
               }
            }
         },
         "CrmLead": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CrmLead"
                  }
               }
            }
         },
         "CrmPipeline": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CrmPipeline"
                  }
               }
            }
         },
         "MarketingList": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/MarketingList"
                  }
               }
            }
         },
         "MarketingMember": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/MarketingMember"
                  }
               }
            }
         },
         "MarketingCampaign": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/MarketingCampaign"
                  }
               }
            }
         },
         "TicketingTicket": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/TicketingTicket"
                  }
               }
            }
         },
         "TicketingCustomer": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/TicketingCustomer"
                  }
               }
            }
         },
         "TicketingNote": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/TicketingNote"
                  }
               }
            }
         },
         "TicketingCategory": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/TicketingCategory"
                  }
               }
            }
         },
         "UcContact": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/UcContact"
                  }
               }
            }
         },
         "UcComment": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/UcComment"
                  }
               }
            }
         },
         "UcRecording": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/UcRecording"
                  }
               }
            }
         },
         "AtsActivity": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AtsActivity"
                  }
               }
            }
         },
         "AtsCandidate": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AtsCandidate"
                  }
               }
            }
         },
         "AtsJob": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AtsJob"
                  }
               }
            }
         },
         "AtsInterview": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AtsInterview"
                  }
               }
            }
         },
         "AtsDocument": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AtsDocument"
                  }
               }
            }
         },
         "AtsApplication": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AtsApplication"
                  }
               }
            }
         },
         "AtsScorecard": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AtsScorecard"
                  }
               }
            }
         },
         "AtsCompany": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AtsCompany"
                  }
               }
            }
         },
         "HrisEmployee": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/HrisEmployee"
                  }
               }
            }
         },
         "HrisCompany": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/HrisCompany"
                  }
               }
            }
         },
         "HrisLocation": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/HrisLocation"
                  }
               }
            }
         },
         "HrisGroup": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/HrisGroup"
                  }
               }
            }
         },
         "HrisTimeoff": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/HrisTimeoff"
                  }
               }
            }
         },
         "HrisDevice": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/HrisDevice"
                  }
               }
            }
         },
         "HrisTimeshift": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/HrisTimeshift"
                  }
               }
            }
         },
         "HrisBenefit": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/HrisBenefit"
                  }
               }
            }
         },
         "HrisDeduction": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/HrisDeduction"
                  }
               }
            }
         },
         "HrisBankaccount": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/HrisBankaccount"
                  }
               }
            }
         },
         "VerificationRequest": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/VerificationRequest"
                  }
               }
            }
         },
         "AccountingAccount": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingAccount"
                  }
               }
            }
         },
         "AccountingJournal": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingJournal"
                  }
               }
            }
         },
         "AccountingTransaction": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingTransaction"
                  }
               }
            }
         },
         "AccountingContact": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingContact"
                  }
               }
            }
         },
         "AccountingInvoice": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingInvoice"
                  }
               }
            }
         },
         "AccountingBill": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingBill"
                  }
               }
            }
         },
         "AccountingCreditmemo": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingCreditmemo"
                  }
               }
            }
         },
         "AccountingTaxrate": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingTaxrate"
                  }
               }
            }
         },
         "AccountingOrder": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingOrder"
                  }
               }
            }
         },
         "AccountingPurchaseorder": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingPurchaseorder"
                  }
               }
            }
         },
         "AccountingSalesorder": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingSalesorder"
                  }
               }
            }
         },
         "AccountingCategory": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingCategory"
                  }
               }
            }
         },
         "AccountingExpense": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AccountingExpense"
                  }
               }
            }
         },
         "StorageFile": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/StorageFile"
                  }
               }
            }
         },
         "CommerceItem": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CommerceItem"
                  }
               }
            }
         },
         "CommerceCollection": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CommerceCollection"
                  }
               }
            }
         },
         "CommerceInventory": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CommerceInventory"
                  }
               }
            }
         },
         "CommerceLocation": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CommerceLocation"
                  }
               }
            }
         },
         "CommerceReview": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CommerceReview"
                  }
               }
            }
         },
         "CommerceReservation": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CommerceReservation"
                  }
               }
            }
         },
         "CommerceSaleschannel": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CommerceSaleschannel"
                  }
               }
            }
         },
         "CommerceItemvariant": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CommerceItemvariant"
                  }
               }
            }
         },
         "PaymentPayment": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/PaymentPayment"
                  }
               }
            }
         },
         "PaymentLink": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/PaymentLink"
                  }
               }
            }
         },
         "PaymentSubscription": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/PaymentSubscription"
                  }
               }
            }
         },
         "GenaiPrompt": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/GenaiPrompt"
                  }
               }
            }
         },
         "GenaiEmbedding": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/GenaiEmbedding"
                  }
               }
            }
         },
         "KmsSpace": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/KmsSpace"
                  }
               }
            }
         },
         "KmsPage": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/KmsPage"
                  }
               }
            }
         },
         "KmsComment": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/KmsComment"
                  }
               }
            }
         },
         "TaskProject": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/TaskProject"
                  }
               }
            }
         },
         "TaskTask": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/TaskTask"
                  }
               }
            }
         },
         "TaskComment": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/TaskComment"
                  }
               }
            }
         },
         "CalendarCalendar": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CalendarCalendar"
                  }
               }
            }
         },
         "CalendarEvent": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CalendarEvent"
                  }
               }
            }
         },
         "CalendarLink": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CalendarLink"
                  }
               }
            }
         },
         "CalendarWebinar": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/CalendarWebinar"
                  }
               }
            }
         },
         "AdsOrganization": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AdsOrganization"
                  }
               }
            }
         },
         "AdsCampaign": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AdsCampaign"
                  }
               }
            }
         },
         "AdsCreative": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AdsCreative"
                  }
               }
            }
         },
         "AdsInsertionorder": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AdsInsertionorder"
                  }
               }
            }
         },
         "AdsGroup": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AdsGroup"
                  }
               }
            }
         },
         "AdsAd": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/AdsAd"
                  }
               }
            }
         },
         "LmsCourse": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/LmsCourse"
                  }
               }
            }
         },
         "LmsClass": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/LmsClass"
                  }
               }
            }
         },
         "LmsStudent": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/LmsStudent"
                  }
               }
            }
         },
         "LmsInstructor": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/LmsInstructor"
                  }
               }
            }
         },
         "LmsContent": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/LmsContent"
                  }
               }
            }
         },
         "LmsCollection": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/LmsCollection"
                  }
               }
            }
         },
         "LmsActivity": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/LmsActivity"
                  }
               }
            }
         },
         "RepoOrganization": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/RepoOrganization"
                  }
               }
            }
         },
         "RepoRepository": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/RepoRepository"
                  }
               }
            }
         },
         "RepoBranch": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/RepoBranch"
                  }
               }
            }
         },
         "RepoCommit": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/RepoCommit"
                  }
               }
            }
         },
         "RepoPullrequest": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/RepoPullrequest"
                  }
               }
            }
         },
         "MetadataMetadata": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/MetadataMetadata"
                  }
               }
            }
         },
         "FormsForm": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/FormsForm"
                  }
               }
            }
         },
         "DatastoreDatabase": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/DatastoreDatabase"
                  }
               }
            }
         },
         "DatastoreTable": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/DatastoreTable"
                  }
               }
            }
         },
         "DatastoreRecord": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/DatastoreRecord"
                  }
               }
            }
         },
         "DatastoreQuery": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/DatastoreQuery"
                  }
               }
            }
         },
         "ShippingShipment": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/ShippingShipment"
                  }
               }
            }
         },
         "ShippingLabel": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/ShippingLabel"
                  }
               }
            }
         },
         "ShippingRate": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/ShippingRate"
                  }
               }
            }
         },
         "SigningDocument": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/SigningDocument"
                  }
               }
            }
         },
         "SigningSignatory": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/SigningSignatory"
                  }
               }
            }
         },
         "ScimUser": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/ScimUser"
                  }
               }
            }
         },
         "ScimGroup": {
            "required": true,
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/ScimGroup"
                  }
               }
            }
         }
      },
      "schemas": {
         "property_Connection_permissions": {
            "type": "array",
            "items": {
               "type": "string",
               "enum": [
                  "accounting_account_read",
                  "accounting_account_write",
                  "accounting_transaction_read",
                  "accounting_transaction_write",
                  "accounting_journal_read",
                  "accounting_journal_write",
                  "accounting_invoice_read",
                  "accounting_invoice_write",
                  "accounting_bill_read",
                  "accounting_bill_write",
                  "accounting_creditmemo_read",
                  "accounting_creditmemo_write",
                  "accounting_contact_read",
                  "accounting_contact_write",
                  "accounting_expense_read",
                  "accounting_expense_write",
                  "accounting_taxrate_read",
                  "accounting_taxrate_write",
                  "accounting_organization_read",
                  "accounting_order_read",
                  "accounting_order_write",
                  "accounting_purchaseorder_read",
                  "accounting_purchaseorder_write",
                  "accounting_salesorder_read",
                  "accounting_salesorder_write",
                  "accounting_report_read",
                  "accounting_report_write",
                  "accounting_trialbalance_read",
                  "accounting_trialbalance_write",
                  "accounting_profitloss_read",
                  "accounting_profitloss_write",
                  "accounting_balancesheet_read",
                  "accounting_balancesheet_write",
                  "accounting_category_read",
                  "accounting_category_write",
                  "payment_payment_read",
                  "payment_payment_write",
                  "accounting_cashflow_read",
                  "accounting_cashflow_write",
                  "payment_payout_read",
                  "payment_refund_read",
                  "payment_link_read",
                  "payment_link_write",
                  "payment_subscription_read",
                  "payment_subscription_write",
                  "commerce_item_read",
                  "commerce_item_write",
                  "commerce_collection_read",
                  "commerce_collection_write",
                  "commerce_inventory_read",
                  "commerce_inventory_write",
                  "commerce_location_read",
                  "commerce_location_write",
                  "commerce_review_read",
                  "commerce_review_write",
                  "commerce_saleschannel_read",
                  "commerce_saleschannel_write",
                  "commerce_itemvariant_read",
                  "commerce_itemvariant_write",
                  "commerce_reservation_read",
                  "commerce_reservation_write",
                  "commerce_availability_read",
                  "commerce_availability_write",
                  "verification_package_read",
                  "verification_request_read",
                  "verification_request_write",
                  "assessment_package_read",
                  "assessment_package_write",
                  "assessment_order_write",
                  "ats_activity_read",
                  "ats_activity_write",
                  "ats_application_read",
                  "ats_application_write",
                  "ats_applicationstatus_read",
                  "ats_candidate_read",
                  "ats_candidate_write",
                  "ats_interview_read",
                  "ats_interview_write",
                  "ats_job_read",
                  "ats_job_write",
                  "ats_company_read",
                  "ats_company_write",
                  "ats_document_read",
                  "ats_document_write",
                  "ats_scorecard_read",
                  "ats_scorecard_write",
                  "crm_company_read",
                  "crm_company_write",
                  "crm_contact_read",
                  "crm_contact_write",
                  "crm_deal_read",
                  "crm_deal_write",
                  "crm_event_read",
                  "crm_event_write",
                  "crm_lead_read",
                  "crm_lead_write",
                  "crm_pipeline_read",
                  "crm_pipeline_write",
                  "martech_list_read",
                  "martech_list_write",
                  "martech_member_read",
                  "martech_member_write",
                  "martech_campaign_read",
                  "martech_campaign_write",
                  "martech_report_read",
                  "martech_report_write",
                  "ticketing_customer_read",
                  "ticketing_customer_write",
                  "ticketing_ticket_read",
                  "ticketing_ticket_write",
                  "ticketing_note_read",
                  "ticketing_note_write",
                  "ticketing_category_read",
                  "ticketing_category_write",
                  "hris_employee_read",
                  "hris_employee_write",
                  "hris_group_read",
                  "hris_group_write",
                  "hris_payslip_read",
                  "hris_payslip_write",
                  "hris_timeoff_read",
                  "hris_timeoff_write",
                  "hris_timeshift_read",
                  "hris_timeshift_write",
                  "hris_company_read",
                  "hris_company_write",
                  "hris_location_read",
                  "hris_location_write",
                  "hris_device_read",
                  "hris_device_write",
                  "hris_deduction_read",
                  "hris_deduction_write",
                  "hris_benefit_read",
                  "hris_benefit_write",
                  "hris_bankaccount_read",
                  "hris_bankaccount_write",
                  "uc_call_read",
                  "uc_contact_read",
                  "uc_contact_write",
                  "uc_comment_read",
                  "uc_comment_write",
                  "uc_recording_read",
                  "storage_file_read",
                  "storage_file_write",
                  "webhook",
                  "genai_model_read",
                  "genai_prompt_read",
                  "genai_prompt_write",
                  "genai_embedding_read",
                  "genai_embedding_write",
                  "messaging_message_read",
                  "messaging_message_write",
                  "messaging_channel_read",
                  "messaging_event_read",
                  "messaging_event_write",
                  "kms_space_read",
                  "kms_space_write",
                  "kms_page_read",
                  "kms_page_write",
                  "kms_comment_read",
                  "kms_comment_write",
                  "task_project_read",
                  "task_project_write",
                  "task_task_read",
                  "task_task_write",
                  "task_change_read",
                  "task_comment_read",
                  "task_comment_write",
                  "scim_users_read",
                  "scim_users_write",
                  "scim_groups_read",
                  "scim_groups_write",
                  "lms_course_read",
                  "lms_course_write",
                  "lms_class_read",
                  "lms_class_write",
                  "lms_student_read",
                  "lms_student_write",
                  "lms_instructor_read",
                  "lms_instructor_write",
                  "lms_content_read",
                  "lms_content_write",
                  "lms_collection_read",
                  "lms_collection_write",
                  "lms_activity_read",
                  "lms_activity_write",
                  "repo_organization_read",
                  "repo_organization_write",
                  "repo_repository_read",
                  "repo_repository_write",
                  "repo_branch_read",
                  "repo_branch_write",
                  "repo_commit_read",
                  "repo_commit_write",
                  "repo_pullrequest_read",
                  "repo_pullrequest_write",
                  "metadata_metadata_read",
                  "metadata_metadata_write",
                  "calendar_calendar_read",
                  "calendar_calendar_write",
                  "calendar_event_read",
                  "calendar_event_write",
                  "calendar_busy_read",
                  "calendar_link_read",
                  "calendar_link_write",
                  "calendar_recording_read",
                  "calendar_recording_write",
                  "calendar_webinar_read",
                  "calendar_webinar_write",
                  "enrich_person_read",
                  "enrich_company_read",
                  "ads_ad_read",
                  "ads_ad_write",
                  "ads_campaign_read",
                  "ads_campaign_write",
                  "ads_group_read",
                  "ads_group_write",
                  "ads_report_read",
                  "ads_organization_read",
                  "ads_organization_write",
                  "ads_creative_read",
                  "ads_creative_write",
                  "ads_insertionorder_read",
                  "ads_insertionorder_write",
                  "ads_target_read",
                  "ads_promoted_read",
                  "forms_form_read",
                  "forms_form_write",
                  "forms_submission_read",
                  "forms_submission_write",
                  "shipping_shipment_read",
                  "shipping_shipment_write",
                  "shipping_label_read",
                  "shipping_label_write",
                  "shipping_tracking_read",
                  "shipping_rate_read",
                  "shipping_carrier_read",
                  "signing_document_read",
                  "signing_document_write",
                  "signing_signatory_read",
                  "signing_signatory_write",
                  "signing_template_read",
                  "clubs_group_read",
                  "clubs_group_write",
                  "clubs_member_read",
                  "clubs_member_write",
                  "clubs_activity_read",
                  "clubs_activity_write",
                  "clubs_location_read",
                  "clubs_location_write",
                  "clubs_event_read",
                  "clubs_event_write",
                  "datastore_database_read",
                  "datastore_database_write",
                  "datastore_table_read",
                  "datastore_table_write",
                  "datastore_record_read",
                  "datastore_record_write",
                  "datastore_query_read",
                  "datastore_query_write"
               ],
               "x-speakeasy-unknown-values": "allow"
            }
         },
         "property_Connection_categories": {
            "type": "array",
            "items": {
               "type": "string",
               "enum": [
                  "passthrough",
                  "hris",
                  "ats",
                  "auth",
                  "crm",
                  "datastore",
                  "enrich",
                  "martech",
                  "ticketing",
                  "uc",
                  "accounting",
                  "storage",
                  "commerce",
                  "payment",
                  "genai",
                  "messaging",
                  "kms",
                  "task",
                  "scim",
                  "lms",
                  "repo",
                  "metadata",
                  "calendar",
                  "verification",
                  "ads",
                  "forms",
                  "shipping",
                  "assessment",
                  "signing",
                  "clubs"
               ],
               "x-speakeasy-unknown-values": "allow"
            },
            "description": "The Integration categories that this connection supports"
         },
         "property_Connection_auth_emails": {
            "type": "array",
            "items": {
               "type": "string"
            }
         },
         "property_Connection_auth_other_auth_info": {
            "type": "array",
            "items": {
               "type": "string"
            },
            "description": "When integration.auth_type = \"other\", this field contains the authentication credentials in the same order as token_names"
         },
         "property_Connection_auth": {
            "type": "object",
            "properties": {
               "token": {
                  "type": "string"
               },
               "access_token": {
                  "type": "string"
               },
               "refresh_token": {
                  "type": "string"
               },
               "expiry_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "expires_in": {
                  "type": "number"
               },
               "emails": {
                  "$ref": "#/components/schemas/property_Connection_auth_emails"
               },
               "name": {
                  "type": "string"
               },
               "user_id": {
                  "type": "string"
               },
               "app_id": {
                  "type": "string"
               },
               "client_id": {
                  "type": "string"
               },
               "client_secret": {
                  "type": "string"
               },
               "consumer_key": {
                  "type": "string"
               },
               "consumer_secret": {
                  "type": "string"
               },
               "meta": {
                  "type": "object",
                  "additionalProperties": true
               },
               "state": {
                  "type": "string"
               },
               "other_auth_info": {
                  "$ref": "#/components/schemas/property_Connection_auth_other_auth_info"
               },
               "api_url": {
                  "type": "string"
               },
               "authorize_url": {
                  "type": "string"
               },
               "token_url": {
                  "type": "string"
               },
               "refresh_url": {
                  "type": "string"
               },
               "pem": {
                  "type": "string"
               },
               "key": {
                  "type": "string"
               },
               "refresh_token_expires_in": {
                  "type": "number"
               },
               "refresh_token_expires_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "dev_api_key": {
                  "type": "string"
               },
               "audience": {
                  "type": "string"
               }
            },
            "description": "An authentication object that represents a specific authorized user's connection to an integration."
         },
         "Connection": {
            "type": "object",
            "properties": {
               "id": {
                  "type": "string"
               },
               "created_at": {
                  "type": "string",
                  "format": "date-time"
               },
               "updated_at": {
                  "type": "string",
                  "format": "date-time"
               },
               "workspace_id": {
                  "type": "string"
               },
               "integration_type": {
                  "type": "string"
               },
               "integration_name": {
                  "type": "string"
               },
               "external_xref": {
                  "type": "string"
               },
               "permissions": {
                  "$ref": "#/components/schemas/property_Connection_permissions"
               },
               "categories": {
                  "$ref": "#/components/schemas/property_Connection_categories"
               },
               "auth": {
                  "$ref": "#/components/schemas/property_Connection_auth"
               },
               "is_paused": {
                  "type": "boolean"
               },
               "auth_aws_arn": {
                  "type": "string"
               },
               "environment": {
                  "type": "string",
                  "default": "Production"
               },
               "auth_azure_keyvault_id": {
                  "type": "string"
               },
               "auth_gcp_secret_name": {
                  "type": "string"
               },
               "auth_hashi_vault_path": {
                  "type": "string"
               },
               "last_healthy_at": {
                  "type": "string",
                  "format": "date-time"
               },
               "last_unhealthy_at": {
                  "type": "string",
                  "format": "date-time"
               },
               "secretsmanager_id": {
                  "type": "string"
               },
               "secretsmanager_key": {
                  "type": "string"
               }
            },
            "required": [
               "integration_type",
               "permissions",
               "categories"
            ],
            "description": "A connection represents a specific authentication of an integration."
         },
         "Connections": {
            "type": "array",
            "items": {
               "$ref": "#/components/schemas/Connection"
            }
         },
         "property_Issue_type": {
            "type": "array",
            "items": {
               "type": "string"
            }
         },
         "Issue": {
            "type": "object",
            "properties": {
               "id": {
                  "type": "string"
               },
               "created_at": {
                  "type": "string"
               },
               "updated_at": {
                  "type": "string"
               },
               "title": {
                  "type": "string"
               },
               "status": {
                  "type": "string",
                  "enum": [
                     "COMPLETED",
                     "NEW",
                     "ROADMAP",
                     "IN_PROGRESS",
                     "ON_HOLD",
                     "VALIDATING",
                     "REJECTED"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "url": {
                  "type": "string"
               },
               "workspace_id": {
                  "type": "string"
               },
               "type": {
                  "$ref": "#/components/schemas/property_Issue_type"
               },
               "resolution_time": {
                  "type": "number"
               },
               "ticket_ref": {
                  "type": "string"
               },
               "size": {
                  "type": "number"
               },
               "importance": {
                  "type": "number"
               }
            },
            "required": [
               "title",
               "status",
               "workspace_id",
               "ticket_ref"
            ]
         },
         "Issues": {
            "type": "array",
            "items": {
               "$ref": "#/components/schemas/Issue"
            }
         },
         "property_Integration_categories": {
            "type": "array",
            "items": {
               "type": "string",
               "enum": [
                  "passthrough",
                  "hris",
                  "ats",
                  "auth",
                  "crm",
                  "datastore",
                  "enrich",
                  "martech",
                  "ticketing",
                  "uc",
                  "accounting",
                  "storage",
                  "commerce",
                  "payment",
                  "genai",
                  "messaging",
                  "kms",
                  "task",
                  "scim",
                  "lms",
                  "repo",
                  "metadata",
                  "calendar",
                  "verification",
                  "ads",
                  "forms",
                  "shipping",
                  "assessment",
                  "signing",
                  "clubs"
               ],
               "x-speakeasy-unknown-values": "allow"
            },
            "description": "The categories of support solutions that this integration has"
         },
         "property_Integration_token_names": {
            "type": "array",
            "items": {
               "type": "string"
            },
            "description": "if auth_types = 'token'"
         },
         "property_Integration_token_instructions": {
            "type": "array",
            "items": {
               "type": "string"
            },
            "description": "instructions for the user on how to find the token/key"
         },
         "property_IntegrationSupport_methods": {
            "type": "object",
            "additionalProperties": {
               "type": "boolean"
            }
         },
         "property_IntegrationSupport_inbound_fields": {
            "type": "object",
            "additionalProperties": {
               "type": "string"
            }
         },
         "property_IntegrationSupport_outbound_fields": {
            "type": "object",
            "additionalProperties": {
               "type": "string"
            }
         },
         "property_IntegrationSupport_webhook_events_updated": {
            "type": "array",
            "items": {
               "type": "string",
               "enum": [
                  "virtual",
                  "native"
               ],
               "x-speakeasy-unknown-values": "allow"
            }
         },
         "property_IntegrationSupport_webhook_events_created": {
            "type": "array",
            "items": {
               "type": "string",
               "enum": [
                  "virtual",
                  "native"
               ],
               "x-speakeasy-unknown-values": "allow"
            }
         },
         "property_IntegrationSupport_webhook_events_deleted": {
            "type": "array",
            "items": {
               "type": "string",
               "enum": [
                  "virtual",
                  "native"
               ],
               "x-speakeasy-unknown-values": "allow"
            }
         },
         "property_IntegrationSupport_webhook_events": {
            "type": "object",
            "properties": {
               "updated": {
                  "$ref": "#/components/schemas/property_IntegrationSupport_webhook_events_updated"
               },
               "created": {
                  "$ref": "#/components/schemas/property_IntegrationSupport_webhook_events_created"
               },
               "deleted": {
                  "$ref": "#/components/schemas/property_IntegrationSupport_webhook_events_deleted"
               }
            }
         },
         "property_IntegrationSupport_raw_objects": {
            "type": "array",
            "items": {
               "type": "string"
            },
            "description": "objects that we map from in the integration"
         },
         "property_IntegrationSupport_slow_fields": {
            "type": "array",
            "items": {
               "type": "string"
            }
         },
         "IntegrationSupport": {
            "type": "object",
            "properties": {
               "methods": {
                  "$ref": "#/components/schemas/property_IntegrationSupport_methods"
               },
               "inbound_fields": {
                  "$ref": "#/components/schemas/property_IntegrationSupport_inbound_fields"
               },
               "outbound_fields": {
                  "$ref": "#/components/schemas/property_IntegrationSupport_outbound_fields"
               },
               "webhook_events": {
                  "$ref": "#/components/schemas/property_IntegrationSupport_webhook_events"
               },
               "raw_objects": {
                  "$ref": "#/components/schemas/property_IntegrationSupport_raw_objects"
               },
               "slow_fields": {
                  "$ref": "#/components/schemas/property_IntegrationSupport_slow_fields"
               },
               "from_webhook": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_sort_by_name": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_sort_by_created_at": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_sort_by_updated_at": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_updated_gte": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_user_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_user_mentioned_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_customer_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_company_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_contact_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_application_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_candidate_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_deal_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_job_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_invoice_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_order": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_query": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_limit": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_offset": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_root_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_list_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_interview_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_location_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_collection_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_ticket_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_parent_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_account_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_item_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_space_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_channel_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_page_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_type": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_link_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_project_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_item_variant_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_raw_fields": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_student_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_class_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_instructor_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_course_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_teacher_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_repo_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_org_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_calendar_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_task_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "search_twitter": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "search_name": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "search_linkedinurl": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "search_email": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "search_domain": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_event_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_start_gte": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_end_lt": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_lead_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_call_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_document_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_payment_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_status": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_branch_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_pipeline_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_category_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_package_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_expand": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "native_webhook_parent_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "native_webhook_project_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "native_webhook_company_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "native_webhook_task_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "native_webhook_channel_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "native_webhook_calendar_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "native_webhook_event_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_updated_gte": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_limit": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_channel_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_parent_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_contact_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_deal_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_company_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_user_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_user_mentioned_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_type": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_ticket_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_expand": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_status": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_start_gte": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_end_lt": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_task_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_space_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_repo_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_project_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_pipeline_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_page_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_org_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_location_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_list_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_job_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_item_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_fields": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_event_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_customer_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_collection_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_candidate_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_call_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_branch_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_application_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_item_variant_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_calendar_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_lead_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_payslip_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_benefit_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_saleschannel_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_saleschannel_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_campaign_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_ad_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_group_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_campaign_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_ad_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "virtual_webhook_group_id": {
                  "type": "string",
                  "enum": [
                     "supported-required",
                     "supported",
                     "not-supported"
                  ],
                  "x-speakeasy-unknown-values": "allow"
               },
               "list_form_id": {
                  "type": "string",
                  "enum": [
[...]
